.clr{clear: both;}
.clr5{clear: both;padding: 5px 0 5px 0;}
.clr10{clear: both;padding: 10px 0 10px 0;}
.clr15{clear: both;padding: 15px 0 15px 0;}
.clr20{clear: both;padding: 20px 0 20px 0;}

.pad-lr-y5{padding: 0 5%;}

.blg-bg-dark
{
    background-color: #131313;
    color: #fff;
}

.blg-header
{
    text-align: center;
    border-bottom: 1px solid #323232;
}

.blg-logo
{
    display: inline-block;
    padding: 2%;
    width: 380px;
    height: 100px;
}

.blg-top-search
{
    position: absolute;
    right: 0;
    bottom:30%;
}

.blg-search
{
    padding-top:30px;
    background-color: #ececec;
}

.blg-search input
{
    width: 94%;
    border-left:3px solid #ccc;
    border-bottom:4px solid #ccc;
    border-top:1px solid #ccc;
    border-right: none;
    padding: 10px;
}

.blg-search input::placeholder
{
    color: #b0b0b0;
}

.blg-search input:focus,.blg-search button:focus
{
    outline: none;
    box-shadow: none;
}

.blg-search button
{
    width: 6%;
    float: right;
    padding: 7px;
    background-color: #fff;
    border-left:none;
    border-bottom:4px solid #ccc;
    border-top:1px solid #ccc;
    border-right:1px solid #ccc;
    font-size: 20px;
    color: #b0b0b0;
}

.blg-search button:hover
{
    cursor: pointer;
}

.blg-menu
{
    padding-top: 15px;
    margin: 0 auto;
    font-size: 18px;
    padding-bottom: 15px;
}

.blg-menu li
{
    padding-right: 15px;
}

.blg-dropdown-menu
{
    background-color: #131313;
    border-radius: 0;
}

.blg-dropdown-menu>.dropdown-item
{
    color: #fff;
}

.blg-dropdown-menu>.dropdown-item:hover
{
    color: #323232;
}

.blg-manset
{
    padding: 30px 0 0 0;
}

.blg-entry
{
    position: relative;
    background-size: cover;
}

.blg-entry::after
{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:black;
    opacity: 0.4;
}

.blg-entry:hover::after
{
    opacity: 0.6;
}

.blg-big-entry-text
{
    position: absolute;
    bottom: 20%;
    padding-left: 5%;
    padding-right: 30%;
}

.blg-big-entry-text a,.blg-small-entry-text a
{
    text-decoration: none;
    color: #fff;
}

.blg-big-entry-text a:hover,.blg-small-entry-text a:hover
{
    color: #dedede;
}

.blg-big-entry-text-cat
{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px;
    font-weight: bold;
    color: #fff;
}

.blg-big-entry-text-tit,.blg-small-entry-text-tit
{
    display: inline-block;
}

.blg-big-entry-text-date,.blg-small-entry-text-date
{
    font-weight: bold;
    color:#888;
}

.blg-small-entry-text
{
    position: absolute;
    bottom: 20%;
    padding-left: 5%;
    padding-right: 10%;
}

.blg-small-entry-text-cat
{
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    padding: 8px;
    font-weight: bold;
    color: #fff;
}

.blg-small-entry-text-tit
{
    font-size: 22px;
}

.blg-small-entry-text-date
{
    font-size: 12px;
}

.blg-posts
{
    background-color: #ececec;
    padding-top: 50px;
}

.blg-post-text
{
    background-color: #fff;
    padding:15px 30px;
    border:1px solid #ededed;
}

.blg-post-text span
{
    color: #aaa;
    font-weight: bold;
}

.blg-post-text a>h1
{
    padding-top: 10px;
    color: #000;
    font-size: 30px;
    display: inline-block;
}

.blg-post-text a:hover
{
    text-decoration: none;
}

.blg-post-text a>h1:hover
{
    border-bottom: 1px solid #bbb;
}

.blg-pagination
{
    padding-top: 80px;
    padding-bottom: 200px;
    margin: 0 auto;
    width: 450px;
    height: 50px;
}

.blg-pagination-numbers
{
    list-style-type: none;
    display: inline-block;
    margin:0;
    padding: 0;
}

.blg-pagination-numbers li
{
    float: left;
    font-size: 20px;
    margin-left: 10px;
}
.blg-pagination-numbers li>a
{
    color:#000;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
}
.blg-pagination-numbers li>a:hover
{
    border-radius: 3px;
    background-color: #dcdcdc;
    color: #000;
}

.blg-pagination-numbers>.blg-pagination-active a
{
    background-color: #222;
    color: #fff;
    border-radius: 3px;
}

.blg-pagination-button-left,.blg-pagination-button-right
{
    text-decoration: none;
    background-color: #fff;
    border-bottom: 3px solid #999;
}

.blg-pagination-button-left
{
    margin-right: 10px;
}

.blg-pagination-button-right
{
    margin-left: 10px;
}

.blg-pop-posts
{
    padding-top: 40px;
}

.blg-pop-post-text a>h1
{
    margin:0;
    padding: 0 0 10px 0;
    font-size:22px;
    display: inline-block;
}
.blg-pop-post-text a
{
    text-decoration: none;
    color: #000;
}

.blg-pop-post-text a:hover
{
    border-bottom: 1px solid #bbb;
}

.blg-pop-post
{
    padding-top: 15px;
}

.footer
{
    margin-top: 40px;
    background-color: #222429;
    padding-top: 30px;
}

.blg-footer-alt
{
    text-align: center;
    color: #ddd;
    padding: 8px 0;
    background-color: #212121;
    margin-top: 40px;
}

.blg-quick-access h3,.blg-last-posts h3,.blg-tags h3
{
    color: #ccc;
}

.blg-quick-access ul,.blg-last-posts ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blg-quick-access li>a,.blg-last-posts li>a
{
    text-decoration: none;
    color: #aaa;
    font-family:sans-serif;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

.blg-quick-access li,.blg-last-posts li
{
    padding-top: 5px;
}

.blg-tags ul
{
    list-style-type: none;
    margin:0;
    padding:0;
}

.blg-tags ul>li
{
    float: left;
    padding: 5px 8px;
    background-color: #eee;
    color:#333;
    margin-right: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.blg-tags ul>li>a
{
    text-decoration: none;
    color:#333;
}

.blg-tags ul>li:hover,.blg-tags ul>li>a:hover
{
    background-color: #fff;
    color: #000;
}


.blg-single-post
{
    background-color: #F5F5F5;
}

.blg-sp-date-cat
{
    padding: 40px 0;
    text-align: center;
}
.blg-sp-date-cat span,.blg-sp-date-cat i
{
    color: #999;
}
.blg-sp-date-cat i
{
    border-top:1px solid #ccc;
    width: 30px;
    display: inline-block;
    margin:0 10px 5px 10px;
}

.blg-sp-date-cat a
{
    text-decoration: none;
}

.blg-sp-post-image
{
    padding-bottom: 40px;
}

.blg-sp-text p
{
    padding: 15px 8%;
    line-height: 30px;
    font-size: 18px;
}

.blg-sp-text p>img
{
    padding: 0;
}

.blg-sp-tags
{
    text-align: center;
    border-bottom: 1px solid #aaa;
    padding-bottom: 40px;
}

.blg-sp-tags ul
{
    list-style-type: none;
    margin:0 auto;
    padding: 20px 0 0 0;
}

.blg-sp-tags ul li
{
    display: inline;
    text-align: center;
    padding-right: 8px;    
}

.blg-sp-tags ul li a
{
    border-radius: 5px;
    border:1px solid #aaa;
    padding: 6px 10px;
    color: #666;
}

.blg-sp-tags ul li a:hover
{
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

.blg-sp-ln
{
    padding: 8px 0 8px 0;
}

.blg-sp-last
{
    float: left;
}

.blg-sp-next
{
    float:right;
}

.blg-sp-next span
{
    text-align: right;
}

.blg-sp-next span,.blg-sp-last span
{
    display: block;
    color: #aaa;
}

.blg-sp-next a,.blg-sp-last a
{
    color:#333;
    font-size: 26px;
}

.blg-sp-next a:hover,.blg-sp-last a:hover
{
    text-decoration: none;
    border-bottom: 1px solid #bbb;
}

.blg-sp-comments
{
    background-color: #ececec;
}

.blg-sp-comments
{    
    padding: 50px 20% 50px 20%;
}

.blg-sp-comments h5
{
    font-size: 35px;
    font-family:sans-serif;
    padding-bottom: 50px;
}

.blg-sp-comment
{
    padding-top: 20px;
}

.comment-line
{
    border-color: #ddd;
}

.blg-sp-comment-nick
{
    font-weight: bold;
}

.blg-sp-comment-date
{
    padding-top: 5px;
    padding-bottom: 15px;
}

.blg-sp-comment-date span
{
    color: #888;
}
.blg-sp-comment-date a
{
    padding-left:20px;
}
.blg-sp-comment-text{}

.blg-add-comment h5
{
    padding-bottom: 15px;
}

.blg-add-comment-input
{
    padding: 5px 0;
}

.blg-add-comment-textarea
{
    margin-top: 10px;
}


.blg-add-comment-input input,.blg-add-comment-textarea textarea
{
    width: 100%;
    background-color: #eee;
    border:1px solid #bbb;
    border-bottom-width: 4px;
    border-left-width: 3px;
    border-radius: 3px;
    padding: 10px;
}

.blg-add-comment-button
{
    margin-top: 10px;
}

.blg-add-comment-button button
{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border:1px solid #000;
    border-radius: 3px;
}